<mat-card class="list-card">
  <mat-card-title>List of people</mat-card-title>

  <button mat-raised-button color="primary" routerLink="/add" class="add-btn">Add new</button>

  <mat-nav-list>
    <mat-list-item *ngFor="let person of persons">
      <span matListItemTitle> {{ person.firstName }} {{ person.familyName }} </span>

      <span matListItemLine> Age: {{ person.age }} </span>

      <div matListItemMeta class="actions">
        <button mat-stroked-button color="accent" [routerLink]="['/details', person.id]">
          DETAILS
        </button>

        <button mat-flat-button color="warn" (click)="delete(person.id)">DELETE</button>
      </div>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
