<h2>Add</h2>
<form (ngSubmit)="save()">
  <input [(ngModel)]="person.firstName" name="firstName" placeholder="firstName" />
  <input [(ngModel)]="person.familyName" name="familyName" placeholder="familyName" />
  <input [(ngModel)]="person.age" name="age" type="number" placeholder="age" />
  <input [(ngModel)]="person.address.city" name="city" placeholder="city" />
  <input [(ngModel)]="person.address.street" name="street" placeholder="street" />
  <input [(ngModel)]="person.address.postCode" name="postCode" placeholder="postCode" />
  <button type="submit">SAVE</button>
</form>
